@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

div 
  &.field, &.actions 
    margin-bottom: 10px
    margin-top: 20px

.epostcard-thumbnail
  width: 256px

.user_icon
  margin-right: 20px
  margin-top: 5px
  font-size: 20px
