=image_tag @epostcard.main_image.url, :size => "949x600"

#postcardback
  #postcardbackheader
    \-Postcard-
  #postcardbacklodging
    =@lodging.company_name
    =@lodging.address_line_one
    =[@lodging.city, @lodging.state].join(' ')
  #postcardbackstamp
    =image_tag('postmark-image.png', :size => "360x180")
  #message
    %p=@email.message
  #to_from_title
    %p To:
    %p From:
  #to_from
    %p=@email.to_name
    %p=@email.from_name

= link_to 'Send another one', page_path(@lodging.pages.where(page_type: "e-postcard").first)
